loki:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
  config:
    limits_config:
      retention_period: 168h  # 7 days retention

promtail:
  enabled: true

grafana:
  enabled: true
  adminPassword: "SmartRent@2026"  # Change this if needed
  persistence:
    enabled: true
    size: 5Gi
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.smartrent.io.vn
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.smartrent.io.vn
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki-stack:3100
          isDefault: true
